

#logo svg {
    width: 100%;
    height: auto;
}



#enter-button {
    aspect-ratio: 1/1;
    width: 100px;
    height: auto;
    background: black;
    color: white;
    border-radius: 50%;
    display: inline;
    left: 50%;
    bottom: 1em;
    transform: translate(-50%, -100%);
    position: absolute;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 1001;
    will-change: width, height;
}

#main-header {
    padding: 1em;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
