#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    pointer-events: auto;
    mix-blend-mode: screen;
}

#enter-button {
    aspect-ratio: 1/1;
    color: transparent;
    width: 100px;
    height: auto;
    background: black;
    border-radius: 50%;
    display: inline;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 1001;
    will-change: width, height;
}

#main-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: calc( 50vh - calc(100vw * .05) );
}