 .swiper {
     width: 100%;
     height: 100%;
     margin: 1em 0;
 }

 .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #444;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
 }

 .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .download-link {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
 }

 .download-link:hover {
    background-color: #000;
    color: #fff;
 }